<div class="container">
  <h1 class="header">Курсы валют онлайн</h1>

  <div class="controls">
    <div>
      <h3>Currency {{ baseCurrency }}</h3>
      <span>{{ timestamp | date: 'short' }}</span>
    </div>
    <button
      [appearance]="expanded ? 'secondary' : 'primary'"
      (click)="toggle()"
      tuiButton
      type="button"
      size="xs"
      >{{ expanded ? '-' : '+' }}
    </button>
  </div>

  <app-currency-form
    *ngIf="expanded"
    [currencies]="exchangeCurrencies"
    (selectedCurrency)="addCurrency($event)"
  ></app-currency-form>

  <app-currency-item
    *ngFor="let currencyItem of currencies"
    [item]="currencyItem"
  ></app-currency-item>
</div>
